<% include partials/header%>


<h1> Landing Page!</h1>
<p> Welcome to YelpCamp</p>

<a href= "/campgrounds"> View all campgrounds!</a>
<div>
    <a href= "/campgrounds/new"> To create a new campsite!</a>
</div>
<% include partials/footer%>
